.game-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    flex-direction: column;
    user-select: none;
}

.timer-wrapper {
    margin: 1rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border: 4px solid rgb(111, 140, 195);
    border-radius: 50%;
}

.timer {
    font-size: 1.4rem;
}

.current-turn-info {
    display: flex;
    justify-content: center;
}